.adduser{
    text-align: center;
    padding: 30px;
}

.adduser>*{
    margin: 40px 0px;
}


.adduser form{
    width: 70%;
    display: inline-flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 30px;
}
.adduser form input{
    margin: 10px 20px;
    border-radius: 5px 5px 0px 0px;
    border: 0px;
    padding: 20px 5px 5px;
    background-color: #ffffff;
    border-bottom: 2px solid rgb(0, 0, 0);
    color: black;
    font-weight: bold;
    font-size: 15px;
}

::placeholder {
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

.adduser form button{
    font-weight: bold;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin: 20px;
    background-color: rgb(40, 145, 243);
    box-shadow: 0px 0px 10px rgb(40, 145, 243);
    border-radius: 5px;
    padding: 15px;
    border: 1px solid black;
}